## service.env
# Telegram Bot Token from @BotFather
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

DATABASE_URL=postgresql://postgres:@database:5432/webhook

# If defined - raw request stored
COLLECT_REQUESTS=1

POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=webhook

# API TOKENS
SOCPROOF_TOKEN=
JUSTANOTHERPANEL_TOKEN=
